<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="../css/customizado.css">
	<meta charset="UTF-8"/>
	<meta name="view-port" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="text-center">
			<img class="img-responsible" src="../image/logo.png" width="200px">
		</div>
		<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
			<form class="form-horizontal" action="">
				<div class="form-group">
					<input class="form-control" type="email" name="" value="" placeholder="Digite seu email">
				</div>
				<div class="form-group pull-right">
					<a href="index.html" class="btn btn-success" name="">Voltar</a>		
					<button class="btn btn-success" name="">Enviar</button>
				</div>
			</form>
		</div>
		<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 mensagem-sucesso text-center border-radius" id="senhaEnviada">
			<h5>Link para redefinir senha enviado com sucesso!</h5>
		</div>
		<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 mensagem-erro text-center border-radius" id="emailInvalido">
			<h5>Este email não possui cadastro.</h5>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>